@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hammersmith One ;
  src: url('./assets/fonts/HammersmithOne.ttf');
}

.text-acme{
  font-family: 'Acme', sans-serif;

}

*{
  scroll-behavior: smooth;
}
body{
  background-image: url('./assets/bg.svg');
  background-position: center;
  background-size: cover;
  background: linear-gradient(180deg, #232323 0%, #000 100%);
}
.letsdiscover{
  background-image: url('./assets/topbg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.underdiscover{
  background-image: url('./assets/botlines.png');
  background-size: cover;
}
@media (width < 1500px) {
  .underdiscover{
    background-size: contain;
  }
}
/*lines */ 
.topbglines{
  position: absolute;
  transform: translateY(-20%);
  width: 100%;
}
.botbglines{
  position: absolute;
  top: 50%;
  object-position: center;
}
/*navbar*/
.navbar-navs {
  color: #FFF;
  font-family: Hammersmith One, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.small-screen-navs {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #393939 100%);
}
.half-transition {
  transition: 1s;
}
/*lets discover*/
.lets-discover-title {
  max-width: 770px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.60);
  font-family: Hammersmith One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 42px;
}
.lest-discover-second-p{
  max-width: 878px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.60);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 52px;
}
.lets-discover-third-p {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: Hammersmith One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.down-arrow{
  animation: bounce 2s ease-out infinite;;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@media (width < 900px) {
  .letsdiscover-text-social-div{
    flex-direction: column;
  }
  .social-media{
    flex-direction: row; 
    order: -1;
    margin-bottom: 14px;
  }
  .topbglines{
    scale: 1.5;
    transform: translateY(0%);
  }

}
@media (width < 768px) {
  #about-us{
    flex-direction: column;
    align-items: center;
    padding: 0 42px;
    gap: 107px;
  }
  .topbglines{
    scale: 2;
    transform: translateY(0%);
  }
  .botbglines{
    scale: 2;
    top: 100%;
    height: 100%;
  }
}
@media (width < 500px) {
  .topbglines{
    scale: 3;
    transform: translate(6%,8%);
  }
}
/*about us*/
.about-us-title {
  max-width: 273px;
  color: #FFF;
  font-family: Hammersmith One;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.about-us-description {
  max-width: 640px;
  color: rgba(255, 255, 255, 0.80);
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/*our vision*/
.our-vision-title {
  color: #FFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.our-vision-card-title{
  color: #FFF;
  font-family: Hammersmith One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.our-vision-card-description{
  max-width: 620px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*events*/
.events-big-title{
  color: #FFF;
  font-family: Hammersmith One;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.event-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.event-description {
  max-width: 517px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.event-button {
  width: fit-content;
  border-radius: 10px;
  color: #FFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.event-image {
  width: 419px;
  height: 589px;
  border-radius: 10px;
  box-shadow: #76E494 0px 0px 10px;
}


@media (width < 500px) {
  .event-container {
    justify-content: center;
  }
  .event-event-date{
    font-size: 12px;
  }
  .event-event-title{
    font-size: 15px;
  }
}


@media (width < 350px) {
  .events-down-arrow {
    width: 70%;
  }
}
.event-event-date {
  color: #818181;
  font-family: Hammersmith One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.event-event-title{
  color: #FFF;
  font-family: Hammersmith One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

/*core team*/
.core-team-title {
  color: #FFF;
  font-family: Hammersmith One;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.core-team-name{
  color: #FFF;
  font-family: Acme;
  font-size: 32.929px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.317px;
}
@media (width < 1240px) {
  .core-team-photo{
    width: 220px;
    height: 220px;
  }
  
}
@media (width < 880px) {
  .core-team-photo{
    width: 180px;
    height: 180px;
  }
  
}
@media (width < 768px) {
  .event-image {
    width: 80%;
    height: 80%;
  }
  .core-team-photo{
    width: 260px;
    height: 260px;
  }
}
@media (width < 400px) {
  .core-team-photo{
    width: 230px;
    height: 230px;
  }
  
}
@media (width < 250px) {
  .core-team-photo{
    width: 180px;
    height: 180px;
  }
  
}
/*Terminal*/
.TerminalUser {
  color: #CA1625;
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  line-height: 200.2%; /* 36.036px */
}
.TerminalCommandLineText{
  color: #FFF;
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  line-height: 200.2%;
  text-decoration-line: underline;
}
.terminalheader{
  position: sticky;
  top: 0;
  z-index: 55555;
  background-color: #000;
  scrollbar-width: 1px;
}
.Terminal::-webkit-scrollbar {
  width: 5px;
}
.Terminal::-webkit-scrollbar-track {
  background: #000;
}
.Terminal::-webkit-scrollbar-thumb {
  background: #CA1625;
}
.Terminal::-webkit-scrollbar-thumb:hover {
  background: #CA1625;
}
.Terminal::-webkit-scrollbar-thumb:active {
  background: #CA1625;
}


.terminalheaderuser{
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.terminal-cmd-result{
  color: #FFF;
  font-family: Fira Code;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 200.2%;
  text-decoration-line: none
}

.bg-linear{
background: linear-gradient(180deg, #232323 0%, #181717 100%);

}
